body {
  background: #ccccc;
  font-family: serif;
}

header {
  background: #ccc;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .item {
  margin: 0 20px;
  color: white;
  font-size: 30px;
  position: relative;
}

header nav .item:last-child::after {
  display: none;
}

header nav .item:after {
  content: "|";
  position: absolute;
  top: 0;
  right: -20px;
}

header nav .item a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
