body 
	background: #ccccc
	font-family: serif

header 
	background: #ccc
	padding: 20px 
	display: flex
	justify-content: center
	align-items: center
	
	nav 
		display: flex 
		width: 70%
		justify-content: center
		
		.item
			margin: 0 20px
			color: white
			font-size: 30px
			position: relative
			&:last-child::after
				display: none
				
			&:after 
				content: "|"
				position: absolute
				top: 0
				right: -20px
				
			a 
				text-transform: uppercase
				text-decoration: none
				color: white

